body{
    background: url(../images/bg-body.png);    
}
#mainContainer{    
    min-height: 100%;
}

#mainContainer2 {
    padding-bottom: 100px;    
}

#footer{
    height: 50px;
    position: relative;
    margin-top: -50px;
    background: url(../images/border.png) repeat-x;
    padding-top: 20px;
    padding-left: 5px;
    font-size: 12px;
}
#mainContainer,#footer {
 width:950px;
 margin-left: auto;
 margin-right: auto;
}
#mainMenu{
    height: 50px;
    border-top: 8px solid #6a2727;
    background-color: #af3535;
}

#mainMenu li a{
    color: #fff;
    text-transform: uppercase;
}

#mainMenu li{
    display: inline-block;
    margin: 10px 20px 0 20px;
}

#mainMenu ul{
    width: 100%;
    text-align: center;
}